<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cdcas.partyschool.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.edu.cdcas.partyschool.model.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="state" jdbcType="CHAR" property="state"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="option_a" jdbcType="VARCHAR" property="optionA"/>
        <result column="option_b" jdbcType="VARCHAR" property="optionB"/>
        <result column="option_c" jdbcType="VARCHAR" property="optionC"/>
        <result column="option_d" jdbcType="VARCHAR" property="optionD"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="correct" jdbcType="INTEGER" property="correct"/>
        <result column="selected" jdbcType="INTEGER" property="selected"/>
    </resultMap>
    <resultMap id="ResultMap" type="cn.edu.cdcas.partyschool.model.errorQue">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="state" jdbcType="CHAR" property="state"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="option_a" jdbcType="VARCHAR" property="optionA"/>
        <result column="option_b" jdbcType="VARCHAR" property="optionB"/>
        <result column="option_c" jdbcType="VARCHAR" property="optionC"/>
        <result column="option_d" jdbcType="VARCHAR" property="optionD"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="correct" jdbcType="INTEGER" property="correct"/>
        <result column="selected" jdbcType="INTEGER" property="selected"/>
        <result column="answer"  jdbcType="String" property="answer"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        `state`,
        `type`,
        intro,
        option_a,
        option_b,
        option_c,
        option_d,
        `result`,
        correct,
        selected
    </sql>
    <sql id="queryQueWhere">
        <if test="intro!=null and intro!=''">
            and intro like '%${intro}%'
        </if>
        <if test="type!=null and type!=''">
            and `type`=#{type}
        </if>
    </sql>
    <!--
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.edu.cdcas.partyschool.mapper.QuestionMapper"
            useGeneratedKeys="true">
        insert into party_question (`state`, `type`, intro,
                                    option_a, option_b, option_c,
                                    option_d, `result`, correct,
                                    selected)
        values (#{state,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR},
                #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, #{optionC,jdbcType=VARCHAR},
                #{optionD,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{correct,jdbcType=INTEGER},
                #{selected,jdbcType=INTEGER})
    </insert>

    <update id="updateByIdSelective" parameterType="cn.edu.cdcas.partyschool.mapper.QuestionMapper">
        update party_question
        <set>
            <if test="state != null">
                `state` = #{state,jdbcType=CHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                option_a = #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                option_b = #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                option_c = #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                option_d = #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                `result` = #{result,jdbcType=VARCHAR},
            </if>
            <if test="correct != null">
                correct = #{correct,jdbcType=INTEGER},
            </if>
            <if test="selected != null">
                selected = #{selected,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateById" parameterType="cn.edu.cdcas.partyschool.mapper.QuestionMapper">
        update party_question
        set `state`  = #{state,jdbcType=CHAR},
            `type`   = #{type,jdbcType=INTEGER},
            intro    = #{intro,jdbcType=VARCHAR},
            option_a = #{optionA,jdbcType=VARCHAR},
            option_b = #{optionB,jdbcType=VARCHAR},
            option_c = #{optionC,jdbcType=VARCHAR},
            option_d = #{optionD,jdbcType=VARCHAR},
            `result` = #{result,jdbcType=VARCHAR},
            correct  = #{correct,jdbcType=INTEGER},
            selected = #{selected,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>-->

    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from party_question
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.edu.cdcas.partyschool.mapper.QuestionMapper" useGeneratedKeys="true">
        insert into party_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="state != null">
                `state`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="optionA != null">
                option_a,
            </if>
            <if test="optionB != null">
                option_b,
            </if>
            <if test="optionC != null">
                option_c,
            </if>
            <if test="optionD != null">
                option_d,
            </if>
            <if test="result != null">
                `result`,
            </if>
            <if test="correct != null">
                correct,
            </if>
            <if test="selected != null">
                selected,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="state != null">
                #{state,jdbcType=CHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="optionA != null">
                #{optionA,jdbcType=VARCHAR},
            </if>
            <if test="optionB != null">
                #{optionB,jdbcType=VARCHAR},
            </if>
            <if test="optionC != null">
                #{optionC,jdbcType=VARCHAR},
            </if>
            <if test="optionD != null">
                #{optionD,jdbcType=VARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=VARCHAR},
            </if>
            <if test="correct != null">
                #{correct,jdbcType=INTEGER},
            </if>
            <if test="selected != null">
                #{selected,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="selectQueList" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
      from party_question
      <where>
          <include refid="queryQueWhere"/>
      </where>
      order by `type`
      LIMIT #{start},#{pageSize}
    </select>
    <select id="countQue" resultType="int">
        select count(*) from party_question
        <where>
            <include refid="queryQueWhere"/>
        </where>
    </select>
    <delete id="clear">
        delete from party_question
    </delete>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from party_question
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="updateState">
        update party_question
        set `state`=#{state}
        where `id`=#{id}
    </update>
    <select id="findQuestionIdMin" resultType="int">
        SELECT id FROM party_question ORDER BY id LIMIT 1
    </select>
    <select id="findQuestionIdMax" resultType="int">
        SELECT id FROM party_question ORDER BY id DESC LIMIT 1
    </select>
    <select id="findAllQuestionNum" resultType="int">
        SELECT  radio_num+check_num+judge_num+fill_num+saq_num AS allNumbers FROM party_exam WHERE id=(
        SELECT id FROM party_exam WHERE exam_start_time&lt;=CURRENT_TIMESTAMP AND CURRENT_TIMESTAMP&lt;=exam_end_time)
    </select>
    <select id="selectEffectiveQueId" resultType="string">
        SELECT id FROM party_question WHERE `state`='checked'
    </select>
    <select id="selectErrorQue" resultMap="ResultMap">
        SELECT que.intro,que.option_a,que.option_b,que.option_c,que.option_d,que.result,ans.answer FROM party_answer AS ans
        LEFT JOIN party_question AS que ON ans.question_id=que.id
        WHERE student_no=#{student_no} AND (score=0 OR score IS NULL)
    </select>
</mapper>